.container {
  margin: 0 auto;
  width: 30%;
}

input {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  font-size: 20px;
}

.warning {
  color: red;
}
